* {
    margin: 0;
}

nav img {
    width: 15vw;
    opacity: .9;
}

header {
    background-color: #105652;
}

header li {
    margin-right: 4vw;
}

.tarjetaTamaño {
    width: 24rem;
}

main {
    min-height: 85vh;
    width: 100%;
    background-color: #FBF3E4;
}

.imagenes img {
    height: 30vh;
    object-fit: cover;
}

.imagenes h1 {
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1.2rem;
}

.home {
    color: #1fd328;
}

.upcoming {
    color: #961b1b;
}

.paste {
    color: rgb(255, 255, 255);
}

.contact {
    color: rgb(19, 173, 57);
}

.stats {
    color: #d87ec9;
}

.categorias {
    background-color: #DFD8CA;
}

.card {
    background-color: #FAF3F3;
}

footer {
    width: 100vw;
    height: 7vh;
    background-color: #A7C4BC;
}

#tarjetaDinamica h1 {
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#tarjetaDinamica img {
    width: 71vw;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.contenedorDetalles{
    min-height: 90vh;
}

#tarjetaDinamica {
    min-height: 71vh;
    max-width: 100vw;
}

.textoTarjeta {
    background-color: #a0ad8b3a;
    width: 71vw;
    min-height: 50vh;
}


#tarjetaTrans {
    transition: all 300ms;
}

#tarjetaTrans:hover {
    transform: scale(1.1);
}


@media (min-width: 768px) and (max-width: 1200px) {
    #tarjetaDinamica img {
        height: 50vh;
        width: 59vw;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 35px;
    }

    .detailcard {
        border-bottom-right-radius: 35px;
        border-top-left-radius: 0;
    }

    .textoTarjeta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 50vh;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    #tarjetaDinamica {
        display: inline-flex;
    }

}

@media (min-width: 1201px) {
    #tarjetaDinamica img {
        height: 50vh;
        width: 40vw;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 35px;
    }

    .detailcard {
        border-bottom-right-radius: 35px;
        border-top-left-radius: 0;
    }

    .textoTarjeta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 50vh;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    #tarjetaDinamica {
        display: inline-flex;
        max-width: 80vw;
    }

}